<!DOCTYPE html>
<html>

<head>
    <title>Search Data</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="vue-app">

        <div id="tools">
            <p style="color:silver;">Enter what you want to find</p>
            <p>#
                <input id="tag" type="text"><button v-on:click="loadData(tag.value)">ok</button><button v-on:click="reload" id="reload">X</button>
            </p>
        </div>

        <content>


            <span v-if="state()" v-for="item in tw_arr">
	        	<div class="twit">
	        		<h4 align="center">
	        			@{{item.fromUser}} #{{tag_name}}
	        		</h4>
	        		<p>
	        			<a v-bind:href="'http://twitter.com/' + item.fromUser" target="_blank"><img v-bind:src=item.userImg v-bind:alt="'@' + item.fromUser">
	        			</a>
	        			{{item.text}}
	        		</p>
	        		<span>
	        			<p align="center">
	        				likes: {{item.likes}}, shares: {{item.shares}}
	        			</p>
	        		</span>
	        		<p align="center">{{item.key.medium}} : {{item.date}}</p>
	        	</div>
            </span>
        </content>

    </div>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript">
    	reload.style.visibility = "hidden";
    	reload.style.background = "red";
    </script>
</body>

</html>